#imagen{
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      pointer-events: stroke;
  }
#imagenPerfil{
  position:relative ;
  top: 10px;
  left: 0;
  right: 0;
 
  margin: auto;
}
  
/*ESTILO DEL PIE DE PAGINA*/
.footer{
  background-color: rgba(26, 25, 25, 0.835);  
  color: white;
  clear:both;
  margin-top: auto ;/*separacion entre arriba*/
  margin-bottom: 10px;
  width:100%;
  text-align: center;
  border-radius: 5px;
}
.footer2{
    padding: 10px;/*tamaño de fondo del footer*/
}