/* Large Desktop*/
@media (min-width:1200px){
  .noDisponibleMovil{
    display: none;
  }
  div.navegacion{
    background-color: #000000; 
      height: 60px; 
  }
  
  .imagenINICIO{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        pointer-events: stroke;
    }
  .fond{
    height: 460px;;
    border-radius: 8px;
    }
  .fondoMetodoAprendizaje{
    height: 500px;;
    border-radius: 8px;
    }
  #tituloINICIO{
    font-size:15px; 
    text-align:center; 
    color:honeydew
  }
  /*.fondo_perfil{
    height: 540px;
    background-color: #0f0f0f;
  }*/
  .fondoIMG{
    border-top-left-radius: 8px;
    background:#ffffff;
    color: rgb(2, 85, 78);
  }
  .fondoBotonesAcciones{
    border-top-right-radius: 8px;
    height: 210px;
  }
  .fondo_cursos{
    height:330px;
    background-color: rgb(253, 252, 252);
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
  }
  .fondoFila{
    background-color: rgb(0, 128, 111);
  }
  .fondoFilaEncabezado{
    background-color: rgb(39, 42, 43);
    font-weight: bold;
    text-align: center;
  }
  .fondoFilaEvaluacion{
    background-color: rgb(3, 174, 226);
    text-decoration: none;
  }
  .fondoFilaEvaluacion a{
    text-decoration: none;
    color: white;
    font-weight: bold;
  }

  a.botonesMenu{
    text-decoration: none;
  }
  .btn{
    margin-top: 7px;
  }

}

/* Medium Desktop*/
@media (max-width: 1199px) and (min-width: 1023px){
  .footers{
      display: none;
  }

  .fond{
    display: none;
  }
  .fondo_perfil{
    display: none;
  }
  .noDisponibleMovil{
    display: show;
    text-align: center;
    color: rgb(211, 234, 248);
    font-size: 23px;
  }
  .container-fluid{
    display: none;
  }

}

/* Tablets*/
@media (max-width: 1024px) and (min-width: 768px){
  .footers{
    display: none;
}

.fond{
  display: none;
}
.fondo_perfil{
  display: none;
}
.noDisponibleMovil{
  display: show;
  text-align: center;
  color: rgb(211, 234, 248);
  font-size: 23px;
}
.container-fluid{
  display: none;
}
}

  /* Phones*/
@media (max-width: 767px){
  div.navegacion{
    background-color: #000000; 
      height: 50px; 
  }
  .fond{
    height:825px;
  }
  #tituloINICIO{
    margin-top: 10px;
    font-size:12px; 
    text-align:center; 
    color:honeydew
  }
  /*DESACTIVADO PARA MOVIL*/
  .fond{
    display: none;
  }
  .fondo_perfil{
    display: none;
  }
  .noDisponibleMovil{
    display: show;
    text-align: center;
    color: rgb(211, 234, 248);
    font-size: 23px;
  }
  .container-fluid{
    display: none;
  }
  .footers{
    display: none;
}
}

  