/* Large Desktop*/
@media (min-width:1200px){
    *{
        padding-top: 0;
        margin-top: 0;
    }

    body{
        background-color: rgb(116, 113, 113);
    }
    .encabez{
        width: 100%;
        height: 70px;
        position: absolute;
    }

    #atras{
        background-color: #023e72; 
        height: 100%; 
        width: 7%;
        float: left;
        border-bottom: 2px solid rgb(245, 242, 242);
    }
    .iconINICIO{
        height:55px; 
        width: 55px;
        position: absolute;
        top: 5px;
        left: 10px;    
        margin: auto;
        pointer-events: stroke;    
    }

    div#encabezadoFruta{
        background-color: #11663e; 
        height: 100%; 
        float: left;
        width: 93%;
        border-bottom: 2px solid rgb(245, 242, 242);

    }
    div h1#TituloFrutasDulces{
        margin-top: 9px;
        color: white;
        text-align: center;
        font-weight: bold;
        font-size: 40px;
    }

    .cuerpo1{
        margin-top: 100px;  
    }
    .vocal{
        background-color: #023e72;
        height: 480px; 
        left: 10px;
    }
    .espacioVocales{
        height: 350px;
        width: 350px; 
        bottom: 50px;
        left: 10px;
        position:absolute; z-index:1;
    }
    .animal{
        background-color: white;
        height: 480px; 
        right: 10px;
    }
    .animalVocal{
        position: absolute;
        top: 45px;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        pointer-events: stroke;
        height:500px; 
        width: 500px;  
    }
    .botones{
        background-color: blue;
        height: 50px; 
        width: 100%;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
    }
    .anteriorVocal{
        height: 100%; 
        width: 50%;
        float: left;
        background-color: #11663e;
        cursor: pointer;
        text-align: center;
        color: white;   
        font-weight: bold;
        font-size: 25px;
    }
    .siguienteVocal{        
        height: 100%; 
        width: 50%;
        float: left;
        background-color: #f7db04;
        cursor: pointer;
        text-align: center;
        font-weight: bold;
        font-size: 25px;
    }
    .sigui{   
        margin-top: 3px;     
        width: 17%;
    }
    
    .tam_miniatura{
        position: absolute;
        z-index:0;
        top: 0;
        right: 0;
        margin: auto;
        pointer-events: stroke;
        height:240px; 
        width: 240px; 

    }
    .view_vocal{
        text-align: center;
        margin-top: -80px;
        font-size: 280px;
        margin-left: -25px;
        color: white;
        font-weight: bold;
        -webkit-text-stroke: 1.5px black;
    }

    .noDisponibleMovil{
        display: none;
      }
}

/* Medium Desktop*/
@media (max-width: 1199px) and (min-width: 1023px){
    .noDisponibleMovil{
        display: show;
        text-align: center;
        color: rgb(5, 76, 117);
        font-size: 23px;
      }
    
    .container-fluid{
    display: none;
    }

}


/* Tablets*/
@media (max-width: 1024px) and (min-width: 768px){
    .noDisponibleMovil{
        display: show;
        text-align: center;
        color: rgb(5, 76, 117);
        font-size: 23px;
      }
    
    .container-fluid{
    display: none;
    }
}


/* Phones*/
@media (max-width: 767px){
    .noDisponibleMovil{
        display: show;
        text-align: center;
        color: rgb(5, 76, 117);
        font-size: 23px;
      }
    
    .container-fluid{
    display: none;
    }

}