.botonGuardar{
    margin-left: 16.6%;
    display: none;
}
.botonCancelar{
    display: none;
}
#perfil{
    height: 500px;
    background-color: rgb(79, 82, 82);
    border-radius: 10px;
}
.imgPerfil{
    height: 150px;
    width: 150px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}
.datos{
    color: white;
}
.espacio{
    margin-top: 10px;
}
#tituloActualizarDatos{
    margin-top: 10;
}
.fondoFotoPerfil{
    margin-top: 13px;
    background: white;
    border-radius: 10px;
}
form{
    margin-top: -5px;
    padding-right: 10px;
    padding-left: 10px;
}
.data{
    background: rgba(79, 82, 82, 0.849);
    border-radius: 10px;
    color: white;
    display: none;
    position:absolute; z-index:1; /*PERMITE COLOCAR ENCIMA*/
}
