/* Large Desktop*/
@media (min-width:1200px){
    div.navegacion{
      background-color: #023e72; 
        height: 60px; 
    }
    body{
      background-color: rgb(172, 170, 170);
    }
    
    .fond{
      height: 500px;;
      }
    #tituloINICIO{     
      margin-top: 9px; 
      text-align:center; 
      color:honeydew;
      font-weight: bold;
      font-size: 28px;
    }

    #datos{
      display: none;
    }
    #todosALumnos{
      display: show;
    }

    #todos{
      cursor: pointer;
      background-color: rgba(4, 124, 204, 0.979);
      color: white;
    }
    #evaluados{
      cursor: pointer;
      color: rgba(4, 124, 204, 0.979);
    }

    /*ALERTA*/
    #accion_alerta{
      background-color: rgb(243, 182, 69);
    }
  
}