/* Large Desktop*/
@media (min-width:1200px){
    div.navegacion{
      background-color: #023e72; 
        height: 60px; 
    }
    
    .fond{
      height: 500px;;
      }
    #tituloINICIO{
      margin-top: 9px;
      font-size:15px; 
      text-align:center; 
      color:honeydew;
      font-weight: bold;
      font-size: 28px;
    }
    .fondo_perfil{
      height: 500px;
      background-color: #0f0f0f;
    }
    .fondo_cursos{
      height:250px;
    }
    /*codigo tabla responsive*/
    .scrollable{
        height: 360px;
        overflow: scroll;        
    }
    /*TABLAS DESACTIVADOS*/
    #vocales{
      background-color: rgba(4, 124, 204, 0.979);
      color: white;
    }
    #vocales1{
      background-color: white;
      color: rgba(4, 124, 204, 0.979);
    }
    .badge{
      background-color: rgba(4, 124, 204, 0.979);
      color: white;
    }
    a.list-group-item{
      color: rgba(4, 124, 204, 0.979);
      cursor:pointer;
    }
    #tabla_abecedarios{
      display: none;
    }
    #tabla_colores{
      display: none;
    }
    #tabla_numeros{
      display: none;
    }
    #tabla_frutas{
      display: none;
    }
    #tabla_escuela{
      display: none;
    }
    #tabla_cuerpoHumano{
      display: none;
    }
    #tabla_animales{
      display: none;
    }



  
}